In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
import numpy as np
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [20]:
url ='https://www.linkedin.com/jobs/collections/'
driver = webdriver.Firefox()
driver.get(url)

login_button = driver.find_element(By.CLASS_NAME, "main__sign-in-link")
login_button.click()

username = driver.find_element("id","username")
username.send_keys("")
password = driver.find_element("id","password")
password.send_keys("")

button = driver.find_elements(By.XPATH, "//button[contains(text(),'Sign in')]")
button[0].click()

In [ ]:
# collecting links of jobs from differrent pages

In [3]:
locationlist = []
for i in range(20):
    lin = 'https://www.linkedin.com/jobs/collections/?currentJobId=3378646771&start=' + str(25+(i-1)*25)
    driver.get(lin)
    time.sleep(3)
    soup = BeautifulSoup(driver.page_source,"html.parser")
    for link in soup.find_all('a', href = True):
        if 'flagship3_search_srp_job' in link['href']:
            locationlist.append(link['href'])

In [4]:
len(locationlist)

997

In [5]:
# avoiding duplicate values and concatinating the first part of the link.
l = []

for i in range(len(locationlist)):
    if 'https://www.linkedin.com'+locationlist[i] not in l:
        l.append('https://www.linkedin.com'+locationlist[i])

In [6]:
# finding all the needed attributes
job = []
location = []
company_name = []
work_type = []
full_time_remote = []
no_of_employ =[]
no_of_application = []
count = 0
for i in range(325):
    count += 1
    print(count,end=" ")
    try:
        driver.get(l[i])
        time.sleep(2)
    except:
        pass
    try:
        j= driver.find_elements(By.XPATH,'/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/h1')
        company_name.append(j[0].text)
        
    except:
        company_name.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__workplace-type')
        work_type.append(j[0].text)
    except:
        work_type.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'li.jobs-unified-top-card__job-insight:nth-child(1) > span:nth-child(2)')
        full_time_remote.append(j[0].text)
    except:
        full_time_remote.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__subtitle-primary-grouping > span:nth-child(2)')
        location.append(j[0].text)
    except:
        location.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.t-24')
        job.append(j[0].text)
    except:
        job.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'li.jobs-unified-top-card__job-insight:nth-child(2) > span:nth-child(2)')
        no_of_employ.append(j[0].text)
    except:
        no_of_employ.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'.jobs-unified-top-card__applicant-count')
        no_of_application.append(j[0].text)
    except:
        no_of_application.append('NA')
    try:
        j= driver.find_elements(By.CSS_SELECTOR,'#ember25')
        company_name.append(j[0].text)
        
    except:
        company_name.append('NA')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325

In [7]:
col=['job','location','company_name','work_type','full_time_remote','no_of_employ','no_of_application']
df=pd.DataFrame({'job': job,'location':location,'company_name':company_name,'work_type':work_type,'full_time_remote':full_time_remote,'no_of_employ':no_of_employ,'no_of_application':no_of_application})

In [8]:
df

,job,location,company_name,work_type,full_time_remote,no_of_employ,no_of_application
0,User Experience Athlete,India,User Experience Athlete,Remote,Full-time,51-200 employees,31 applicants
1,Online part time work,India,Online part time work,Remote,Full-time,1-10 employees,33 applicants
2,Receptionist,"Gurugram, Haryana, India",Receptionist,On-site,Full-time,11-50 employees,15 applicants
3,Market Research Executive,"Gurugram, Haryana, India",Market Research Executive,Hybrid,Full-time,"1,001-5,000 employees",14 applicants
4,Customer Service Manager,"Delhi, Delhi, India",Customer Service Manager,On-site,Full-time,11-50 employees,26 applicants
...,...,...,...,...,...,...,...
320,Personalized Internet Assessors in India (Tami...,India,Personalized Internet Assessors in India (Tami...,Remote,Part-time · Entry level,"10,001+ employees · IT Services and IT Consulting",22 applicants
321,Hiring Alert JOB Hiring Agency Development Man...,"Jabalpur, Madhya Pradesh, India",Hiring Alert JOB Hiring Agency Development Man...,On-site,Full-time · Mid-Senior level,1-10 employees · IT Services and IT Consulting,1 applicant
322,Hiring Alert JOB Hiring Agency Development Man...,"Ujjain, Madhya Pradesh, India",Hiring Alert JOB Hiring Agency Development Man...,On-site,Full-time · Mid-Senior level,1-10 employees · IT Services and IT Consulting,NA
323,Hiring Alert JOB Hiring Agency Development Man...,"Hisar, Haryana, India",Hiring Alert JOB Hiring Agency Development Man...,On-site,Full-time · Mid-Senior level,1-10 employees · IT Services and IT Consulting,NA
324,Content Specialist,"Gurugram, Haryana, India",Content Specialist,On-site,Full-time,11-50 employees,20 applicants

In [10]:
df.to_csv(r'D:\project linkedin\project.csv')

In [69]:
df1 = pd.read_csv(r'D:\project linkedin\link.csv')
company = []
count=0
for i in range(2):
    count += 1
    print(count,end=" ")
    try:
        driver.get(df1['0'][i])
        time.sleep(2)
        
    except:
        pass
    
    try:
        j= driver.find_all(By.CLASS_NAME,'artdeco-entity-lockup__subtitle ember-view t-16')
        company_name.append(j[0].text)
        
    except:
        company_name.append('NA')

1 2

In [47]:
col=['company']
df2=pd.DataFrame({'company': company})

In [45]:
df2.to_csv(r'D:\project linkedin\company.csv')

# Data Cleaning

In [ ]:
# data cleaning for Details.csv

df=pd.read_csv('Details.csv')

# removing the extra rows
df.drop([320,321,322,323,324], axis=0, inplace=True)

# replacing the null values with mode
mode=df['Involvement+ level'].mode()[0]
df['Involvement+ level'].fillna(mode,inplace=True)
mode2=df['Total_applicants'].mode()[0]
df['Total_applicants'].fillna(mode2,inplace=True)

# removing unwanted strings from the columns
df['Involvement+ level']=df['Involvement+ level'].str.replace('₹100,000/yr - ₹300,000/yr · ','')
df['Involvement+ level']=df['Involvement+ level'].str.replace('₹100,000/yr - ₹710,000/yr ·','')
df['Involvement+ level']=df['Involvement+ level'].str.split(' . ')

# seprating the necessary info for involvement and level column and stord it into the list
s=[i[0] for i in df['Involvement+ level']]
b=[i[1] if len(i)>1 else np.nan for i in df['Involvement+ level']]

# replacing the level column value with the list b
n=df.columns[2]
df[n] = b

# replacing the null values with mode
mode1=df['Level'].mode()[0]
df['Level'].fillna(mode1,inplace=True)

# replacing the Involvement+ level column value with the list s
n1=df.columns[1]
df[n1] = s

# rename Involvement+ level column
df.rename(columns = {'Involvement+ level':'Involvement'}, inplace = True)

# replacing the details_id columns values with the r list
r=list(range(320))   
n2=df.columns[0]
df[n2]=r

# exporting the data into CSV file
df.to_csv('Details1.csv', index=False)

In [ ]:
# data cleaning for Details.csv

df1=pd.read_csv('company_name.csv')

# rename Involvement+ level column
df1.rename(columns = {'Unnamed: 0':'company_id'}, inplace = True)

# fill null values with the mode
df1.fillna(df1.company.mode()[0],inplace=True)

# export the file into the CSV
df1.to_csv('company1.csv', index=False)

In [ ]:
# data cleaning for Details.csv
df2=pd.read_csv('jobs.csv')

# replacing the NULL value with the mode
df2.Designation.fillna(df2.Designation.mode()[0],inplace=True)

# removing the extra rows 
df2.drop([320,321,322,323,324], axis=0, inplace=True)

# creating the list r1 with same length as columns
r1=list(range(320))
n3=df2.columns[0]  # replace the coulum job_id with r1 list values
df2[n3]=r1

# creating the list r2 with random numbers and same length as columns
r2=np.random.randint(0,319,320)
n4=df2.columns[1]  #replace the coulum company_id with r2 list values
df2[n4]=r2

# creating the list r3 with random numbers and same length as columns
r3=np.random.randint(0,319,320)
n5=df2.columns[4] #replace the coulum details_id with r3 list values
df2[n5]=r3

# export the date to CSV file
df2.to_csv('jobs1.csv', index=False)