### 1.Data Summary 


---


The LinkedIn data set provided contains 7,927 rows and 15 columns, providing a comprehensive overview of job postings on the platform. The data can be used for data analysis, visualization, and research. The job postings include Data Analyst, Machine Learning Engineer, IT Services and IT Consulting roles, located in various locations around the world, with varying salaries and work hours. The data set includes information about the company, role responsibilities, and required skills for each job. This data set is a valuable resource for understanding job opportunities in different industries and locations.

### 2.Column descriptions

`job_ID`: Unique identifier for each job posting.

`job`: The title of the job posting.

`location`: The location of the job posting.

`company_id`: The unique identifier for the company offering the job.

`company_name`: The name of the company offering the job.

`work_type`: The type of work offered (e.g. full-time, part-time, etc.).

`full_time_remote`: Indicates if the job is a full-time remote position.

`no_of_employ`: The number of employees at the company offering the job.

`no_of_application`: The number of applications received for the job.

`posted_day_ago`: The number of days ago the job was posted.

`alumni`: Indicates if the job posting is for alumni of a certain organization.

`Hiring_person`: The name of the person responsible for hiring for the job.

`linkedin_followers`: The number of LinkedIn followers of the hiring person.

`hiring_person_link`: A link to the LinkedIn profile of the hiring person.

`job_details`: Detailed information about the job, including responsibilities and requirements.

## Issue with the data set


1.   Dirty Data:-
  - **job**: column in the data set there is unnecessary information such as the yearly package, technology, company name, and work type (remote) etc added in the title.`Consistency`
  - **no_of_application**: this column the has a value which should not be present ('hours' , 'minutes'). `Consistency`
  - **posted_day_ago**: In this column time is added in the form of string for Exampal (9 hours , 8 minutes). `Validity`
  - **Alumni**: with the alumni count the string is present with the count value ('company alumni'). `Validity`
  - **company_id**: This column is completly blank. `Completeness`
  - **Hiring_person**: In this column there are some nick name is added with in parentheses `Consistency`
  - **linkedin_followers**: In linkedin_followers column the 'linkedin_followers' string is present with numbers and numbers is seprated with (' , ') `Validity`





2.   Messy Data:-
  
  - **Full_time_remote**: In this column involvement and level both combiened in one column and seprated by ('·'). `Validity`
  - **No_of_employ**: In this column employees_count and industry both combiened in one column and 'employees' string is added extra seprated ('·'). `Validity`
  - **location**: In the location column countory,state and city is added in the one column and seprated by (',') `Validity`
  - **Job**: In the Job column some are starting with the capital letter and some are in small letter `Consistency`
  -**company_name**: in the company_name also there is inconsestancy in the name some of the letters are starting with the small letter and some of them are stares with the capital letter. `Consistency`
  - There are 2,084 dublicate values found in the dataset `Validity`

### Exploratory Data Analysis (EDA) Functions in Python.

- head and tail
- sample
- info
- isnull
- duplicated
- describe

**Importing the required librarys**

In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
warnings.filterwarnings("ignore", category=UserWarning)

**Loading The Data Into The Pandas DataFrame**

In [3]:
df=pd.read_csv('c:\\Project\\Linkdin_Job_Analytics\\DataSet\\linkdin_Job_data.csv')

**Cheking Top 5 Rows**

In [4]:
df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,3 company alumni,Shahid Ahmad,NaN,https://www.linkedin.com/in/shahid-ahmad-a2613...,About the job Profile: ML EngineersExperience:...
3,3472816027,Data Analyst,"Gurugram, Haryana, India",NaN,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,NaN,Vartika Singh,"2,094 followers",https://www.linkedin.com/in/vartika-singh-,About the job Designation: Data AnalystLocatio...
4,3473311511,Data Analyst,"Mohali district, Punjab, India",NaN,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,1 company alumni,Manisha (Gisele Smith),NaN,https://www.linkedin.com/in/manisharathore0029,About the job The ideal candidate will use the...

**Cheaking The Last 5 Rows**

In [5]:
df.tail()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
7922,3472039871,Back End Developer,"Kochi, Kerala, India",NaN,Orion Innovation,Hybrid,Full-time · Associate,"5,001-10,000 employees · IT Services and IT Co...",25,2 days,24 company alumni,Poornima Viswanathan,NaN,https://www.linkedin.com/in/poornima-viswanath...,About the job The ideal candidate will show in...
7923,3473194471,Software Engineer - Senior,"Gurugram, Haryana, India",NaN,Uplers,On-site,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",18,2 days,3 company alumni,Tejveer Singh,NaN,https://www.linkedin.com/in/tejveer-singh-a348...,About the job Experience: 4 - 8 yearsProfile: ...
7924,3461005032,Vue JS,"Hyderabad, Telangana, India",NaN,Tata Consultancy Services,On-site,Full-time · Mid-Senior level,"10,001+ employees · IT Services and IT Consulting",15,6 days,"10,080 company alumni",ANNIE ANTONY,"11,923,634 followers",https://www.linkedin.com/in/annie-antony-a1041...,About the job Role- Vue js DeveloperExperience...
7925,3474305684,iOS Developer,"Bengaluru, Karnataka, India",NaN,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",17,1 day,3 company alumni,Arjun Jaggi,NaN,https://www.linkedin.com/in/arjunjaggi7,About the job Profile: iOS DeveloperExperience...
7926,3459352801,Power train function developer,"Bengaluru, Karnataka, India",NaN,Akkodis,Hybrid,Full-time · Mid-Senior level,"10,001+ employees · IT Services and IT Consulting",43,1 week,27 company alumni,NaN,"1,421,090 followers",NaN,About the job JD Powertrain Function Developer...

**Cheaking 5 Ramdon Rows**

In [6]:
df.sample(5)

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
6808,3468575752,Senior Business Analyst,"Bengaluru, Karnataka, India",NaN,Gameskraft,On-site,Full-time · Mid-Senior level,"501-1,000 employees · Computer Games",99,2 hours,6 company alumni,Muzamil pasha,"30,279 followers",https://www.linkedin.com/in/muzamil-pasha-72a2...,About the job About Gameskraft Established in ...
1672,3472857805,Wordpress Developer,"Sahibzada Ajit Singh Nagar, Punjab, India",NaN,SNtrix,On-site,Full-time,11-50 employees,hours,11 hours,NaN,Nitin Choudhary,"1,297 followers",https://www.linkedin.com/in/nitin-choudhary-15...,"About the job PHP WordPress Developer , locati..."
4134,3467344403,Data Analyst,"Mumbai, Maharashtra, India",NaN,UST,On-site,Full-time · Mid-Senior level,"10,001+ employees · IT Services and IT Consulting",day,1 day,3 company alumni,NaN,"774,752 followers",NaN,About the job Role: Data Analyst UST is a lead...
4324,3460388589,Python Programmer,"Gurugram, Haryana, India",NaN,Acuity Knowledge Partners,Hybrid,Full-time · Mid-Senior level,"5,001-10,000 employees · Financial Services",days,6 days,3 company alumni,Pallav Pushpraj,NaN,https://www.linkedin.com/in/pallav-pushpraj-73...,About the job Mandatory Skills: Proficiency in...
5490,3477602264,Dental Assistant,"Jalandhar, Punjab, India",NaN,Clove Dental,On-site,Full-time,"1,001-5,000 employees",1,1 hour,NaN,Harish Gupta,NaN,https://www.linkedin.com/in/harish-gupta-2ab14...,About the job We are hiring a dental assistant...

## Data Cleaning

**Cheaking The Null Value Presant In The Dataframe**

In [7]:
df.isnull().sum()

job_ID                   0
job                     33
location                33
company_id            7927
company_name            35
work_type              191
full_time_remote        79
no_of_employ           324
no_of_application       40
posted_day_ago           7
alumni                3069
Hiring_person         2207
linkedin_followers    3113
hiring_person_link    2207
job_details             46
dtype: int64

**Column-wise null values percentage**

In [8]:
df.isnull().sum()/df.shape[0]*100

job_ID                  0.000000
job                     0.416299
location                0.416299
company_id            100.000000
company_name            0.441529
work_type               2.409487
full_time_remote        0.996594
no_of_employ            4.087297
no_of_application       0.504605
posted_day_ago          0.088306
alumni                 38.715782
Hiring_person          27.841554
linkedin_followers     39.270846
hiring_person_link     27.841554
job_details             0.580295
dtype: float64

**Cheacking the data type and non null value present in the dataframe**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7927 entries, 0 to 7926
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   job_ID              7927 non-null   int64
 1   job                 7894 non-null   object
 2   location            7894 non-null   object
 3   company_id          0 non-null      float64
 4   company_name        7892 non-null   object
 5   work_type           7736 non-null   object
 6   full_time_remote    7848 non-null   object
 7   no_of_employ        7603 non-null   object
 8   no_of_application   7887 non-null   object
 9   posted_day_ago      7920 non-null   object
 10  alumni              4858 non-null   object
 11  Hiring_person       5720 non-null   object
 12  linkedin_followers  4814 non-null   object
 13  hiring_person_link  5720 non-null   object
 14  job_details         7881 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 929.1+ KB

**Cheking the dublicate value presant in the dataset**

In [10]:
df[df.duplicated(subset=['job_ID'])].count()

job_ID                2084
job                   2078
location              2078
company_id               0
company_name          2077
work_type             2025
full_time_remote      2072
no_of_employ          1989
no_of_application     2077
posted_day_ago        2083
alumni                1272
Hiring_person         1563
linkedin_followers    1284
hiring_person_link    1563
job_details           2076
dtype: int64

### Data Quality Dimensions

- Completeness -> is data missing?
- Validity -> is data invalid -> negative height -> duplicate patient id
- Accuracy -> data is valid but not accurate -> weight -> 1kg
- Consistency -> both valid and accurate but written differently -> New Youk and NY

#### Steps involved in Data cleaning
- Define
- Code
- Test

`Always make sure to create a copy of your pandas dataframe before you start the cleaning process`

**Creating a copy of dataframe**

In [11]:
job_df=df.copy()

### Define
- removing dublicate values from the dataframe
-replace the null values or remove it based on analysis 
- company_id is a blank column So, Assigning a unique identifier for each company based on their order of appearance in the DataFrame

**Checking duplicate values**

In [12]:
job_df[df.duplicated(subset=['job_ID'])]

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
283,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,12 company alumni,NaN,"5,396,069 followers",NaN,About the job Crossover is the world's #1 sour...
284,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",NaN,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",hours,9 hours,12 company alumni,NaN,"5,396,064 followers",NaN,About the job Crossover is the world's #1 sour...
285,3473336242,Shopify Developer,"Gurugram, Haryana, India",NaN,ADesignGuy,Hybrid,Internship,11-50 employees,minute,1 minute,NaN,Vashisth Bhushan,"2,164 followers",https://www.linkedin.com/in/vashisth00,About the job Job Title: Shopify Developer (In...
298,3472808738,Shopify Developer,"Delhi, India",NaN,Digital Impressions,On-site,NaN,NaN,hours,8 hours,NaN,NaN,NaN,NaN,About the job The ideal candidate will be resp...
300,3470730035,Data Engineer (Python),"Gurugram, Haryana, India",NaN,Mobile Programming LLC,On-site,Full-time,"1,001-5,000 employees",46,21 hours,5 company alumni,Ajay Tanwar,"269,378 followers",https://www.linkedin.com/in/ajay-tanwar-8081b3251,About the job Data Engineer (Python) Experienc...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7913,3464523737,Informatica Developer,"Kochi, Kerala, India",NaN,Tata Consultancy Services,On-site,Full-time,"10,001+ employees · IT Services and IT Consulting",31,3 days,"10,080 company alumni",Angel Mathews,"11,923,625 followers",https://www.linkedin.com/in/angel-mathews-3256...,About the job Greetings from TATA Consultancy ...
7914,3471321322,Business Support/Partner Alliance Coordinator,"Navi Mumbai, Maharashtra, India",NaN,cloudxchange.io,On-site,Full-time · Associate,51-200 employees · IT Services and IT Consulting,21,3 days,1 company alumni,Annette Roberts,NaN,https://www.linkedin.com/in/annette-roberts,About the job Cloudxchange.io is India’s Leadi...
7915,3468025847,Xceptor Developer,"Chennai, Tamil Nadu, India",NaN,Virtusa,Hybrid,Full-time · Mid-Senior level,"10,001+ employees · IT Services and IT Consulting",9,3 days,412 company alumni,Nandha Ramadass,"782,441 followers",https://www.linkedin.com/in/nandha-ramadass-43...,About the job 4+ Years of Experience in Xcepto...
7920,3466165399,LTE Developer,"Hyderabad, Telangana, India",NaN,Tata Consultancy Services,Hybrid,Full-time,"10,001+ employees · IT Services and IT Consulting",45,1 day,"10,080 company alumni",Madhuri Mahajan,"11,923,632 followers",https://www.linkedin.com/in/madhuri-mahajan-b0...,"About the job Dear Candidate, Greetings from T..."
7921,3460393178,Python Developer,"Bangalore Urban, Karnataka, India",NaN,Tata Consultancy Services,On-site,Full-time · Associate,"10,001+ employees · IT Services and IT Consulting",200,6 days,"10,080 company alumni",NaN,"11,923,633 followers",NaN,About the job Role- Python DeveloperRequired T...

**Removing the duplicates values and reset the index values**

In [13]:
job_df.drop_duplicates(subset=['job_ID'],inplace=True)
job_df.reset_index(inplace=True)
job_df.drop('index',axis=1,inplace=True)

**After removing the duplicates dataframe shape**

In [14]:
job_df.shape

(5843, 15)

**Assigns a unique numerical identifier to each company in the 'company_name' column and adds it in a 'company_id' column 
based on the company's order of appearance in the DataFrame.**

In [15]:
job_df['company_id']=job_df.groupby('company_name').ngroup() + 1

**Assigns a unique numerical identifier to each company in the 'job_ID' column and adds it in a 'details_id' column 
based on the Job's order of appearance in the DataFrame.**

In [16]:
# Assign a unique identifier to each job in the job dataframe
job_df['details_id'] = job_df.groupby('job_ID').ngroup() + 1

In [17]:
job_df.head(1)

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details,details_id
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",524.0,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,12 company alumni,NaN,"5,395,547 followers",NaN,About the job Crossover is the world's #1 sour...,2697

**Drop The unnessesary columns**

In [18]:
job_df.drop(['alumni','hiring_person_link'],axis=1,inplace=True)

In [19]:
job_df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id
0,3471657636,"Data Analyst, Trilogy (Remote) - $60,000/year USD","Delhi, Delhi, India",524.0,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",200,8 hours,NaN,"5,395,547 followers",About the job Crossover is the world's #1 sour...,2697
1,3471669068,"Data Analyst, Trilogy (Remote) - $60,000/year USD","New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time · Associate,"1,001-5,000 employees · IT Services and IT Con...",184,8 hours,NaN,"5,395,547 followers",About the job Crossover is the world's #1 sour...,2724
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Con...",200,9 hours,Shahid Ahmad,NaN,About the job Profile: ML EngineersExperience:...,3668
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1-10 employees,200,7 hours,Vartika Singh,"2,094 followers",About the job Designation: Data AnalystLocatio...,3083
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1-10 employees,8,26 minutes,Manisha (Gisele Smith),NaN,About the job The ideal candidate will use the...,3359

### **Handling missing values**
  - All the column has the null value except `job_ID` and `company_id`
  - `job` has **27** Null values -- This column has the less null value we can remove all the null values
  - `location` has **27** Null values -- This column also has less null value so we can directly remove all
  - `company_name` has **28** Null values -- This column also has less null value so we can directly remove all
  - `work_type` has **132** Null values -- Since the data in this column object type we can replace it with the mode 
  -`full_time_remote` has **67** Null values -- This column also has less null value so we can directly remove all
  - `no_of_employ` has **229** Null values -- This column also has less null value so we can directly remove all
  -`no_of_application` has **33** Null values -- either we can remove it or replace it with the 0 because i know for a fact there is null values because at that time there is no application
  -`posted_day_ago` has **6** Null values -- This column also has less null value so we can directly remove all
  - `Hiring_person` has **1686** Null values -- In this we are going to replace the null values with 'Not Available'
  -`linkedin_followers` has **2313** -- In this column there is a posiblity there is 0 followers so null is placed insist of it but i am going to replace it with the mean.
  -`job_details` has **44** Null values -- This column also has less null value so we can directly remove all

**Cheaking the null values**

In [20]:
job_df.isnull().sum()

job_ID                   0
job                     27
location                27
company_id              28
company_name            28
work_type              132
full_time_remote        67
no_of_employ           229
no_of_application       33
posted_day_ago           6
Hiring_person         1686
linkedin_followers    2313
job_details             38
details_id               0
dtype: int64

**Columns wise null percentage**

In [21]:
job_df.isnull().sum()/job_df.shape[0]*100

job_ID                 0.000000
job                    0.462091
location               0.462091
company_id             0.479206
company_name           0.479206
work_type              2.259113
full_time_remote       1.146671
no_of_employ           3.919220
no_of_application      0.564778
posted_day_ago         0.102687
Hiring_person         28.855040
linkedin_followers    39.585829
job_details            0.650351
details_id             0.000000
dtype: float64

**Removing unwanted srings from the dataFrame**

In [22]:
job_df=job_df.replace({'company alumni':'','followers':'','employees':''},regex=True)
job_df[['job','no_of_employ','linkedin_followers']]=job_df[['job','no_of_employ','linkedin_followers']].replace({',':''},regex=True)
job_df['linkedin_followers'] = pd.to_numeric(job_df['linkedin_followers'], errors='coerce')

**Remove the null values**

In [23]:
job_df.dropna(subset=['job','no_of_employ','location','company_name','full_time_remote','posted_day_ago','job_details'],inplace=True)
job_df.work_type.fillna(df.work_type.mode()[0],inplace=True)
job_df.Hiring_person.fillna('Not Available',inplace=True)
job_df.linkedin_followers.fillna(job_df.linkedin_followers.mean(),inplace=True)
job_df.isnull().sum()

job_ID                0
job                   0
location              0
company_id            0
company_name          0
work_type             0
full_time_remote      0
no_of_employ          0
no_of_application     0
posted_day_ago        0
Hiring_person         0
linkedin_followers    0
job_details           0
details_id            0
dtype: int64

### Define


1.   Validity
    - In the Posted_day_ago there is inconsistency in the units some are in minutes and some of them in hours. So, converting them into the same unit `create seprate a funtion`
  - In the Alumni column removing the string ("company alumni") because we want to convert it intoo the int data type  `by df.col.str.replace() or df.replace()`
  - In linkedin_followers column we are also going to remove unnecessary stings and removing the (',') `by df.col.str.replace() or df.replace()`
  - In Full_time_remote column we are going to seprate the involvement and level in each individual column with the healp of seprator('·') `by  split()`
    - In No_of_employ column we are going to seprate the employees_count and industry in each individual column with the help of seprator('·') `by split()`
  - In the location column there is three individual values so going to seprate them into three columns country,state,city `by split()`

In [24]:
def convert_posted_day_ago_to_minutes(df):
    # Filter the DataFrame to only include rows where "posted_day_ago" is not null
    df = df[df['posted_day_ago'].notnull()]

    # Use regular expressions to extract the numeric value and the time unit (hours, minutes, days, weeks, or months)
    regex_pattern = r'(\d+)\s+(hour|minute|day|week|month)s?'
    matches = df['posted_day_ago'].str.extract(regex_pattern, expand=True)

    # Convert the numeric values to integers and multiply by the appropriate factor for each time unit
    # Factor for hours: 60
    # Factor for minutes: 1
    # Factor for days: 1440 (24 * 60)
    # Factor for weeks: 10080 (7 * 24 * 60)
    # Factor for months: 43800 (30 * 24 * 60)
    factor = matches[1].replace({'hour': 60, 'minute': 1, 'day': 1440, 'week': 10080, 'month': 43800})
    df['posted_day_ago'] = matches[0].astype(float) * factor.astype(float)

    return df

In [25]:
# converting all the value in the same unit minutes
job_df.posted_day_ago.dropna(inplace=True)
job_df=convert_posted_day_ago_to_minutes(job_df)

In [26]:
# cheaking
job_df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id
0,3471657636,Data Analyst Trilogy (Remote) - $60000/year USD,"Delhi, Delhi, India",524.0,Crossover,Remote,Full-time · Associate,1001-5000 · IT Services and IT Consulting,200,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2697
1,3471669068,Data Analyst Trilogy (Remote) - $60000/year USD,"New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time · Associate,1001-5000 · IT Services and IT Consulting,184,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2724
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time · Mid-Senior level,1001-5000 · IT Services and IT Consulting,200,540.0,Shahid Ahmad,9.821152e+05,About the job Profile: ML EngineersExperience:...,3668
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1-10,200,420.0,Vartika Singh,2.094000e+03,About the job Designation: Data AnalystLocatio...,3083
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1-10,8,26.0,Manisha (Gisele Smith),9.821152e+05,About the job The ideal candidate will use the...,3359

### Saprating the columns

In [27]:
job_df.no_of_employ

0        1001-5000  · IT Services and IT Consulting
1        1001-5000  · IT Services and IT Consulting
2        1001-5000  · IT Services and IT Consulting
3                                             1-10
4                                             1-10
                           ...
5838    5001-10000  · IT Services and IT Consulting
5839     1001-5000  · IT Services and IT Consulting
5840        10001+  · IT Services and IT Consulting
5841     1001-5000  · IT Services and IT Consulting
5842        10001+  · IT Services and IT Consulting
Name: no_of_employ, Length: 5597, dtype: object

In [28]:
# Split 'no_of_employ' column on '·' separator and store in new columns
job_df[['no_of_employ', 'company_sector']] = pd.DataFrame(job_df['no_of_employ'].str.split('·').tolist(), index=job_df.index)

# Split 'full_time_remote' column on '·' separator and store in new columns
job_df[['full_time_remote', 'Job_level']] = pd.DataFrame(job_df['full_time_remote'].str.split('·').tolist(), index=job_df.index)

In [29]:
#Testing
job_df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id,company_sector,Job_level
0,3471657636,Data Analyst Trilogy (Remote) - $60000/year USD,"Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,200,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2697,IT Services and IT Consulting,Associate
1,3471669068,Data Analyst Trilogy (Remote) - $60000/year USD,"New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,184,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2724,IT Services and IT Consulting,Associate
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time,1001-5000,200,540.0,Shahid Ahmad,9.821152e+05,About the job Profile: ML EngineersExperience:...,3668,IT Services and IT Consulting,Mid-Senior level
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1-10,200,420.0,Vartika Singh,2.094000e+03,About the job Designation: Data AnalystLocatio...,3083,None,None
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1-10,8,26.0,Manisha (Gisele Smith),9.821152e+05,About the job The ideal candidate will use the...,3359,None,None

In [30]:
# checking the null value
job_df.isnull().sum()

job_ID                   0
job                      0
location                 0
company_id               0
company_name             0
work_type                0
full_time_remote         0
no_of_employ             0
no_of_application        0
posted_day_ago           3
Hiring_person            0
linkedin_followers       0
job_details              0
details_id               0
company_sector        1957
Job_level             2070
dtype: int64

#### Handling the null value gentared after seprating the column
- `company_sector` has 1957 Null value --  In this column we are replacing with the 'Not Avilable
- `Job_level` has 2070 Null value -- In this column we are replacing with the 'Not Avilable'
- `posted_day_ago` has 3 Null value -- Removing all the null value

In [31]:
# code

job_df.company_sector.fillna('Not Avilable',inplace=True)
job_df.Job_level.fillna('Not Avilable',inplace=True)
job_df.dropna(subset=['posted_day_ago'],inplace=True)

In [32]:
# test

job_df.isnull().sum()

job_ID                0
job                   0
location              0
company_id            0
company_name          0
work_type             0
full_time_remote      0
no_of_employ          0
no_of_application     0
posted_day_ago        0
Hiring_person         0
linkedin_followers    0
job_details           0
details_id            0
company_sector        0
Job_level             0
dtype: int64

In [33]:
job_df.location[job_df.location.str.split().str.len()==6]

306         Sahibzada Ajit Singh Nagar, Punjab, India
551         Sahibzada Ajit Singh Nagar, Punjab, India
656         Sahibzada Ajit Singh Nagar, Punjab, India
671         Sahibzada Ajit Singh Nagar, Punjab, India
795         Sahibzada Ajit Singh Nagar, Punjab, India
1140        Sahibzada Ajit Singh Nagar, Punjab, India
1215    Kolkata metropolitan area, West Bengal, India
1265        Sahibzada Ajit Singh Nagar, Punjab, India
1291        Sahibzada Ajit Singh Nagar, Punjab, India
1645        Sahibzada Ajit Singh Nagar, Punjab, India
1666        Sahibzada Ajit Singh Nagar, Punjab, India
1745    Kolkata metropolitan area, West Bengal, India
2093        Sahibzada Ajit Singh Nagar, Punjab, India
2125        Sahibzada Ajit Singh Nagar, Punjab, India
2183    Kolkata metropolitan area, West Bengal, India
3338    Kolkata metropolitan area, West Bengal, India
4034    Kolkata metropolitan area, West Bengal, India
5216    Kolkata metropolitan area, West Bengal, India
5229        Sahibzada Ajit Singh Nagar, Punjab, India
5689        Gautam Buddha Nagar, Uttar Pradesh, India
Name: location, dtype: object

### Seprating the city and state from `location`

In [34]:
# seprating the state
job_df['City']=job_df['location'][(job_df.location !='India')].str.split(',').str[0]

#### Create a function to convert citys to states

In [35]:
def find_state(x):
    """
    Returns the state corresponding to the given area.

    Parameters:
        x (str): The name of the area.

    Returns:
        str: The corresponding state.

    """
    if x == 'Greater Bengaluru Area':
        return 'Karnataka'
    elif x == 'Mumbai Metropolitan Region':
        return 'Maharashtra'
    elif x == 'Greater Kolkata Area':
        return 'West Bengal'
    elif x == 'Pune/Pimpri-Chinchwad Area':
        return 'Maharashtra'
    elif x == 'Greater Hyderabad Area':
        return 'Telangana'
    elif x == 'Greater Delhi Area':
        return 'Delhi'
    elif x == 'Greater Coimbatore Area':
        return 'Tamil Nadu'
    elif x == 'Greater Chennai Area':
        return 'Tamil Nadu'
    elif x == 'Greater Ahmedabad Area':
        return 'Gujarat'
    elif x == 'Greater Nagpur Area':
        return 'Maharashtra'
    else:
        return 'error'

#### Install the geopy module

In [36]:
!pip install geopy -q

#### Create a function to find the states with the help of citys

In [37]:
from geopy.geocoders import Nominatim
from functools import lru_cache
geolocator = Nominatim(user_agent="apps")
@lru_cache(maxsize=None)
def extract_state(x):
    try:
#         geocode = lambda query, **kw: _geocode("%s, Cleveland OH" % query, **kw)
        location = geolocator.geocode(x,addressdetails=True)
        return location.raw['address']['state']
    except Exception as e:
        print(e)
        return find_state(x)

#### Create a function to find the City with the help of citys

In [38]:
from geopy.geocoders import Nominatim
from functools import lru_cache
geolocator = Nominatim(user_agent="apps")
@lru_cache(maxsize=None)
def extract_city(x):
    try:
#         geocode = lambda query, **kw: _geocode("%s, Cleveland OH" % query, **kw)
        location = geolocator.geocode(x,addressdetails=True)
        return location.raw['address']['city']
    except Exception as e:
#         print(e)
        return np.nan

#### Applying the extract_state function to the dataframe `state` column

In [39]:
job_df['State']=job_df['City'].apply(extract_state)

'NoneType' object has no attribute 'raw'
'state'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'state'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'
'NoneType' object has no attribute 'raw'

In [40]:
job_df[['State']].replace({'Trentino-Alto Adige/Südtirol':np.nan},inplace=True)

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\198067603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df[['State']].replace({'Trentino-Alto Adige/Südtirol':np.nan},inplace=True)

**we are getting some error during applying the above fuction.
So, getting the missing values from the location column**

In [41]:
job_df['State'][job_df['State']=='error']

140     error
231     error
761     error
1068    error
1185    error
1215    error
1520    error
1728    error
1745    error
1881    error
1931    error
2179    error
2183    error
3148    error
3166    error
3188    error
3273    error
3275    error
3305    error
3324    error
3338    error
3424    error
3448    error
3668    error
3920    error
4034    error
4549    error
4568    error
4646    error
4716    error
5071    error
5216    error
5237    error
5336    error
5562    error
5751    error
Name: State, dtype: object

In [42]:
print(job_df['State'][job_df['State']=='error'].count())

36

In [43]:
job_df['State'][job_df['State']=='error']=job_df['location'][job_df['State']=='error'].str.split(',').str[1]

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\1564140780.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df['State'][job_df['State']=='error']=job_df['location'][job_df['State']=='error'].str.split(',').str[1]

**Checking the noise values present in the City column**

In [44]:
job_df['City'].unique()

array(['Delhi', 'New Delhi', 'Greater Bengaluru Area', 'Gurugram',
       'Mohali district', 'Bengaluru', 'Noida', 'Hyderabad', nan,
       'Chennai', 'Kolkata', 'Madurai', 'Pune', 'Mumbai', 'Kochi',
       'Ahmedabad', 'Vadodara', 'Hosur', 'Coimbatore', 'Chengannur',
       'Mumbai Metropolitan Region', 'Bhopal', 'Maharashtra', 'Surat',
       'Jaipur', 'Chandigarh', 'Trivandrum', 'Delhi Cantonment', 'Thane',
       'Gujarat', 'Navi Mumbai', 'Greater Kolkata Area',
       'Bangalore Urban', 'Gurgaon', 'Nagpur', 'Kalyan', 'Dehradun',
       'Kozhikode', 'Ludhiana', 'Tenkasi', 'Amritsar', 'Patna',
       'Tamil Nadu', 'Thiruvananthapuram', 'Sahibzada Ajit Singh Nagar',
       'Telangana', 'Indore', 'Pune/Pimpri-Chinchwad Area', 'Kerala',
       'Lucknow', 'Greater Hyderabad Area', 'Guindy', 'Vapi',
       'Greater Delhi Area', 'Bangalore Urban district', 'Rajkot',
       'Faridabad', 'Visakhapatnam', 'APAC', 'Kanpur', 'Bandra',
       'Thiruvarur', 'Puducherry', 'Mangaluru', 'Aurangabad',
       'Gurgaon Rural', 'Pimpri Chinchwad', 'Kolkata metropolitan area',
       'Goa', 'Gandhinagar', 'Greater Coimbatore Area', 'Ghaziabad',
       'Hoshiarpur', 'Manesar', 'Bhubaneshwar', 'South Delhi', 'Saket',
       'Karunagappally', 'Rohini', 'Dumka', 'Srinagar', 'Jabalpur',
       'Haryana', 'Greater Chennai Area', 'Ernakulam', 'Rupnagar',
       'Siwani', 'Vishakhapatnam', 'Ulhasnagar', 'Bengaluru East',
       'Punjab', 'Kangra', 'Kanpur Nagar', 'Alipur', 'Nagercoil', 'Jammu',
       'Jalandhar', 'Greater Ahmedabad Area', 'Pollachi', 'Mangalagiri',
       'Varanasi', 'Jamshedpur', 'Bhubaneswar', 'Agra', 'Ranchi',
       'Vijayawada', 'Udaipur', 'Greater Nagpur Area', 'Jodhpur',
       'Secunderābād', 'Golaghat district', 'Rajarhat', 'Velachery',
       'Kolhapur', 'Silao', 'Tiruchengodu', 'Uttar Pradesh', 'Dwarka',
       'Jalgaon', 'Preet Vihar', 'North West Delhi', 'West Delhi',
       'Vasant Vihar', 'Berhampore', 'Raipur', 'Defence Colony',
       'Patel Nagar', 'Pochampalli', 'Dadri', 'Ahmednagar', 'Midnapore',
       'Tiruchirappalli', 'Thiruvananthapuram Taluk', 'Karnataka',
       'Gautam Buddha Nagar', 'Sriperumbudur'], dtype=object)

**Now used extract_city function on a `City` Column to get the Delhi city.**

In [45]:
job_df['City'][job_df['City'].isnull()]=job_df['State'][job_df['City'].isnull()].apply(extract_city)

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\994967429.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df['City'][job_df['City'].isnull()]=job_df['State'][job_df['City'].isnull()].apply(extract_city)

#### There are `42` states are presant in the city column

In [46]:
job_df[['City','State']][(job_df.City==job_df.State)&(job_df.City!='Delhi')].count()

City     42
State    42
dtype: int64

**Replacing those city cells in which state names stored**

In [47]:
job_df['City'][(job_df.City==job_df.State)&(job_df.City!='Delhi')]=np.nan

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\3802033688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df['City'][(job_df.City==job_df.State)&(job_df.City!='Delhi')]=np.nan

**There are `538` Null value are present in the city column**

In [48]:
job_df[['State','City']].isnull().sum()

State      0
City     580
dtype: int64

**Checking the noise values present in the State column**

In [49]:
job_df.State.unique()

array(['Delhi', 'Karnataka', 'Haryana', 'North West', 'Uttar Pradesh',
       'Telangana', 'Trentino-Alto Adige/Südtirol', 'Tamil Nadu',
       'West Bengal', 'Maharashtra', 'Kerala', 'Gujarat',
       'Madhya Pradesh', 'Auvergne-Rhône-Alpes', 'Rajasthan',
       ' Chandigarh', 'Uttarakhand', 'Punjab', 'Bihar', 'Andhra Pradesh',
       'Apac', 'Puducherry', ' India', ' Haryana', ' West Bengal', 'Goa',
       'Odisha', ' Delhi', 'Jharkhand', 'Jammu and Kashmir',
       ' Andhra Pradesh', 'Himachal Pradesh', 'Assam', 'রংপুর বিভাগ',
       'Chhattisgarh'], dtype=object)

**In the State column instead of null values 'Trentino-Alto Adige/Südtirol' is presant**
- replacing it with the null values

In [50]:
job_df.State[job_df['City'].isnull()]

15      Trentino-Alto Adige/Südtirol
20      Trentino-Alto Adige/Südtirol
27      Trentino-Alto Adige/Südtirol
42      Trentino-Alto Adige/Südtirol
43      Trentino-Alto Adige/Südtirol
                    ...
5765    Trentino-Alto Adige/Südtirol
5781    Trentino-Alto Adige/Südtirol
5803    Trentino-Alto Adige/Südtirol
5808    Trentino-Alto Adige/Südtirol
5817    Trentino-Alto Adige/Südtirol
Name: State, Length: 580, dtype: object

In [51]:
job_df['State'] = job_df['State'].str.strip().replace({'Trentino-Alto Adige/Südtirol': np.nan})

In [52]:
job_df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id,company_sector,Job_level,City,State
0,3471657636,Data Analyst Trilogy (Remote) - $60000/year USD,"Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,200,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2697,IT Services and IT Consulting,Associate,Delhi,Delhi
1,3471669068,Data Analyst Trilogy (Remote) - $60000/year USD,"New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,184,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2724,IT Services and IT Consulting,Associate,New Delhi,Delhi
2,3474349934,Data Analyst - WFH,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time,1001-5000,200,540.0,Shahid Ahmad,9.821152e+05,About the job Profile: ML EngineersExperience:...,3668,IT Services and IT Consulting,Mid-Senior level,Greater Bengaluru Area,Karnataka
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1-10,200,420.0,Vartika Singh,2.094000e+03,About the job Designation: Data AnalystLocatio...,3083,Not Avilable,Not Avilable,Gurugram,Haryana
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1-10,8,26.0,Manisha (Gisele Smith),9.821152e+05,About the job The ideal candidate will use the...,3359,Not Avilable,Not Avilable,Mohali district,North West

There is nosise present in the job column into the brode category for example 'Analytics Manager','Security_Analyst_GRC' converted to 'Data Analyst'

In [53]:
job_df.loc[job_df['job'].str.contains('data engineer|Data Enginer|Talend Developer|ETL Developer|Informatica Developer',case=False), 'job'] = 'Data Engineer'
job_df.loc[job_df['job'].str.contains('data |Analytics Manager|Security_Analyst_GRC|Conversion Analyst|Analytics|Data Analytics|Data Analysis|Senior Analyst|Senior Research Analyst',case=False), 'job'] = 'Data Analyst'
job_df.loc[job_df['job'].str.contains('business analyst|Strategy Analyst|Business Intelligence Analyst|Business System Analyst|Operations Analyst',case=False), 'job'] = 'Business Analyst'
job_df.loc[job_df['job'].str.contains('database',case=False), 'job'] = 'Database Developer'
job_df.loc[job_df['job'].str.contains('cloud',case=False), 'job'] = 'Cloud Engineer'
job_df.loc[job_df['job'].str.contains('python',case=False), 'job'] = 'Python Developer'
job_df.loc[job_df['job'].str.contains('angular',case=False), 'job'] = 'Angular Developer'
job_df.loc[job_df['job'].str.contains('blockchain developer|Metaverse|blockchain',case=False), 'job'] = 'Blockchain Developer'
job_df.loc[job_df['job'].str.contains('data science|Data Science|Senior Applied Scientist – Learning Analytics',case=False), 'job'] = 'Data Science'
job_df.loc[job_df['job'].str.contains(r'\bML\b|machine learning',case=False), 'job']='Machine Learning Engineer'
job_df.loc[job_df['job'].str.contains(r'\bAI\b|Artificial Intelligence Engineer',case=False), 'job']='AI Engineer'
job_df.loc[job_df['job'].str.contains('sql',case=False), 'job']='SQL Developer'
job_df.loc[job_df['job'].str.contains('bigdata|Big Data',case=False), 'job']='Bigdata Developer'
job_df.loc[job_df['job'].str.contains('linux',case=False), 'job']='Linux Engineer'
job_df.loc[job_df['job'].str.contains('java full stack',case=False), 'job']='Java Full Stack Develope'
job_df.loc[job_df['job'].str.contains('java software engineer|AEM Developer|AEM-developer',case=False), 'job']='Java Software Engineer'
job_df.loc[job_df['job'].str.contains('java',case=False), 'job']='Java Developer'
job_df.loc[job_df['job'].str.contains('project manager|Product Manager',case=False), 'job']='Project Manager'
job_df.loc[job_df['job'].str.contains('azure|devops|AWS Engineer|Build Engineer|GCP Engineer|DevSecOps',case=False), 'job']='DevOps Engineer'
job_df.loc[job_df['job'].str.contains('PHP|Laravel Developer',case=False), 'job']='PHP Developer'
job_df.loc[job_df['job'].str.contains('game',case=False), 'job']='Game Developer'
job_df.loc[job_df['job'].str.contains(('android|mobile application'),case=False), 'job']='Mobile Application Developer'
job_df.loc[job_df['job'].str.contains('automation tester|Automation',case=False), 'job']='Automation Tester'
job_df.loc[job_df['job'].str.contains('quality analyst',case=False), 'job']='Quality Analyst'
job_df.loc[job_df['job'].str.contains('ruby',case=False), 'job']=' Ruby on Rails Developer'
job_df.loc[job_df['job'].str.contains('team lead',case=False), 'job']='Technical Team Lead'
job_df.loc[job_df['job'].str.contains('.net',case=False), 'job']='.Net Developers'
job_df.loc[(job_df['job'].str.contains('quality', case=False)) & ((job_df.job != 'Data Analyst') & (job_df.job != 'Business Analyst')), 'job'] = 'Quality Analyst'
job_df.loc[job_df['job'].str.contains('reactjs|React|React.JS|Senior React Developer',case=False), 'job']='ReactJS Developer'
job_df.loc[job_df['job'].str.contains('human resources|recruiter',case=False), 'job']='Human Resources Intern'
job_df.loc[job_df['job'].str.contains('test automation',case=False), 'job']='Automation Tester'
job_df.loc[job_df['job'].str.contains('salesforce',case=False), 'job']='Salesforce Developer'
job_df.loc[job_df['job'].str.contains('business development|Senior Manager Analytics',case=False), 'job']='Business Development Manager'
job_df.loc[job_df['job'].str.contains('lead developer',case=False), 'job']='Lead developer'
job_df.loc[job_df['job'].str.contains('front-end',case=False), 'job']='Front-End Developer'
job_df.loc[job_df['job'].str.contains('c\+\+',case=False), 'job']='C++ Developer'
job_df.loc[job_df['job'].str.contains('wordpress',case=False), 'job']='Wordpress Developer'
job_df.loc[job_df['job'].str.contains('software engineer|Algorithm Engineer|Snaplogic Developer|Visual Basic Developer|AS400|Virtusa is hiring for VAX/VMS|Urgent opening for Pega CDH - RTIM',case=False), 'job']='Software Engineer'
job_df.loc[job_df['job'].str.contains(r'\bc developer\b',case=False), 'job']='C Developer'
job_df.loc[job_df['job'].str.contains('full stack',case=False), 'job']='Full Stack Developer'
job_df.loc[job_df['job'].str.contains('golang',case=False), 'job']='Golang Developer'
job_df.loc[job_df['job'].str.contains('shopify',case=False), 'job']='Shopify Developer'
job_df.loc[job_df['job'].str.contains('data scientist|Computer Vision|Data Science',case=False), 'job']='Data Scientist'
job_df.loc[job_df['job'].str.contains('snowflake',case=False), 'job']='Snowflake Developer'
job_df.loc[job_df['job'].str.contains('mainframe',case=False), 'job']='Mainframe Developer'
job_df.loc[job_df['job'].str.contains(r'\bSEO\b|search engine|SEO Analyst|Google Analytics|eCommerce',case=False), 'job']='Search Engine Optimization'
job_df.loc[job_df['job'].str.contains('unity',case=False), 'job']='Unity Developer'
job_df.loc[job_df['job'].str.contains('ios|Apple App Developer',case=False), 'job']='iOS Developer'
job_df.loc[job_df['job'].str.contains(r'\bsales\b|Telesales|Executive', case=False), 'job']='Sales Executive'
job_df.loc[job_df['job'].str.contains(r'\bBI\b',case=False), 'job']='Power BI Developer'
job_df.loc[job_df['job'].str.contains('customer|Voice Process',case=False), 'job']='Customer Service'
job_df.loc[job_df['job'].str.contains('Scrum Master',case=False), 'job']='Scrum Master'
job_df.loc[job_df['job'].str.contains('drupal',case=False), 'job']='Drupal Developer'
job_df.loc[job_df['job'].str.contains('digital marketing',case=False), 'job']='Digital Marketing'
job_df.loc[job_df['job'].str.contains('Back End Developer|Perl|MERN|Backend|Lead Back-end Developer|Mern stack|Mean Stack',case=False), 'job']='BackEnd Developer'
job_df.loc[job_df['job'].str.contains('Relationship',case=False), 'job']='Relationship Manager'
job_df.loc[job_df['job'].str.contains('node',case=False), 'job']='Node Js Developer'
job_df.loc[job_df['job'].str.contains('Account|Experienced CA Fully qualified + Statutory Audit and Reporting with IFRS & GAAP (1-3Years) - Senior Analyst - Finance',case=False), 'job']='Accountant'
job_df.loc[job_df['job'].str.contains('Web',case=False), 'job']='Web Developer'
job_df.loc[job_df['job'].str.contains('Architect|Technical Lead',case=False), 'job']='Technology Architecture'
job_df.loc[job_df['job'].str.contains('Frontend|Graphic Designer',case=False), 'job']='Frontend Developer'
job_df.loc[job_df['job'].str.contains('Copywriter|Technical Editor',case=False), 'job']='Copywriter'
job_df.loc[job_df['job'].str.contains('Tester|Test',case=False), 'job']='Software Testing'
job_df.loc[job_df['job'].str.contains('Consultant',case=False), 'job']='Consultant'
job_df.loc[job_df['job'].str.contains('SAP',case=False), 'job']='SAP Developer'
job_df.loc[job_df['job'].str.contains('Vue',case=False), 'job']='Vue.js Developer'
job_df.loc[job_df['job'].str.contains('Intern|Volunteers',case=False), 'job']='Internships'
job_df.loc[job_df['job'].str.contains(r'\bdata\b', case=False) & ~job_df['job'].str.contains('data Analyst|data engineer|Data Scientist|Data Science', case=False), 'job']='Data Management'
job_df.loc[job_df['job'].str.contains('Quantitative',case=False), 'job']='Quantitative Trader'
job_df.loc[job_df['job'].str.contains('Finance|Senior Manager Risk Management|Pricing Manager|Tax Manager|Assistant Manager|Assistant Vice President',case=False), 'job']='Finance Manager'
job_df.loc[job_df['job'].str.contains('Professor',case=False), 'job']='Professor'
job_df.loc[job_df['job'].str.contains('Robotics',case=False), 'job']='Robotics'
job_df.loc[job_df['job'].str.contains(r'\bAnalyst\b', case=False) & ~job_df['job'].str.contains('data Analyst|Business Analyst|Quality Analyst', case=False), 'job']='Analyst'
job_df.loc[job_df['job'].str.contains('Teacher|Academic|Student|Educational Counselor|Onboarding Specialis|Academic Counsellor|Counsellor', case=False),'job']='Education and Counseling'
job_df.loc[job_df['job'].str.contains('Oracle', case=False),'job']='Oracle Developer'
job_df.loc[job_df['job'].str.contains('PowerApps|Power App', case=False),'job']='PowerApps Developer'
job_df.loc[job_df['job'].str.contains(r'\bC\b', case=False),'job']='C Developer'
job_df.loc[job_df['job'].str.contains(r'\bMarketing\b', case=False) & ~job_df['job'].str.contains('Digital Marketing', case=False), 'job']='Marketing'
job_df.loc[job_df['job'].str.contains('Developer|Programmer', case=False) & ~job_df['job'].str.contains('Blockchain Developer|Salesforce Developer|ReactJS Developer|Net Developers|Ruby on Rails Developer|Mobile Application Developer|Game Developer|PHP Developer|Java Developer|Bigdata Developer|SQL Developer|Angular Developer|Python Developer|Database Developer|C Developer|PowerApps Developer|Oracle Developer|Vue.js Developer|SAP Developer|Frontend Developer|Web Developer|Node Js Developer|BackEnd Developer|Drupal Developer|Power BI Developer|iOS Developer|Unity Developer|Mainframe Developer|Snowflake Developer|Shopify Developer|Golang Developer|(Full Stack|C|Wordpress|C\+\+|Front-End|Lead) Developer', case=False), 'job']='Other Developer'
job_df.loc[job_df['job'].str.contains('Support', case=False),'job']='Support Engineer'
job_df.loc[job_df['job'].str.contains('System|IMS Engineer|Systems Engineer (BSW)|Solarwind Development Engineer|Site Reliability Engineer (SRE)|Platform Engineer|Infrastructure Engineer|UCC Engineer Documentation|Integration Engineer', case=False),'job']='System Engineer'
job_df.loc[job_df['job'].str.contains('Engineer', case=False) & ~job_df['job'].str.contains('Software Engineer|DevOps Engineer|Java Software Engineer|Linux Engineer|AI Engineer|Machine Learning Engineer|Cloud Engineer|Data Engineer', case=False), 'job']='Other Engineering'
job_df.loc[job_df['job'].str.contains('Manager|Leadership', case=False) & ~job_df['job'].str.contains('Business Development Manager|Finance Manager|Relationship Manager|Project Manager', case=False), 'job']='Managerial and Leadership Roles'
job_df.loc[job_df['job'].str.contains(r'\bLead\b', case=False) & ~job_df['job'].str.contains('Lead developer', case=False), 'job']='Team Lead/ Project Lead'
job_df.loc[job_df['job'].str.contains('Editor', case=False),'job']='Editor'
job_df.loc[job_df['job'].str.contains('Associate', case=False),'job']='Associate'
job_df.loc[job_df['job'].str.contains('Research', case=False),'job']='Researcher'
job_df.loc[job_df['job'].str.contains('Financial', case=False),'job']='Financial Controller'
job_df.loc[job_df['job'].str.contains('Head of', case=False),'job']='Head of Product'
job_df.loc[job_df['job'].str.contains('Technical', case=False),'job']='Technical Trainer/Writer/Owner'
job_df.loc[job_df['job'].str.contains('Storage', case=False),'job']=' Storage Administrator'

**We convert all job titles into others for those individual titles has value_count() `1`**

In [54]:
job_counts = job_df['job'].value_counts()
unique_jobs = job_counts[job_counts == 1].index
job_df.loc[job_df['job'].isin(unique_jobs), 'job'] = 'Other'

**After optimizing the job title there is 84 unique jobs are available**

In [55]:
job_df.job.nunique()

84

In [56]:
job_df.sample(n=5)

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id,company_sector,Job_level,City,State
751,3471885015,Other Developer,"Gurugram, Haryana, India",2289.0,Ventures HRD Centre Private Limited,On-site,Full-time,51-200,7,900.0,Sumbul Khan,6.225000e+03,About the job We are hiring for Outsystems Dev...,2836,Not Avilable,Not Avilable,Gurugram,Haryana
5807,3464900778,BackEnd Developer,"Noida, Uttar Pradesh, India",847.0,Genpact,Hybrid,Full-time,10001+,32,2880.0,Sunil Blowda,2.494257e+06,About the job Inviting applications for the ro...,835,IT Services and IT Consulting,Mid-Senior level,Noida,Uttar Pradesh
2633,3476293814,Software Testing,"Lucknow, Uttar Pradesh, India",640.0,EPAM Anywhere,Remote,Full-time,1001-5000,hour,60.0,Aliaksandra Shauchuk,9.821152e+05,About the job We would be happy to consider yo...,4779,IT Services and IT Consulting,Mid-Senior level,Lucknow,Uttar Pradesh
5054,3471876427,Sales Executive,"New Delhi, Delhi, India",2113.0,The CEO Magazine - India,On-site,Full-time,11-50,5,2880.0,Kunal Sharma,9.821152e+05,"About the job looking for ""Sales Executive"" fo...",2799,Not Avilable,Not Avilable,New Delhi,Delhi
4347,3476290741,Software Testing,"Lucknow, Uttar Pradesh, India",640.0,EPAM Anywhere,Remote,Full-time,1001-5000,hours,660.0,Anastasiya Volkova,4.503950e+05,About the job We would be happy to consider yo...,4522,IT Services and IT Consulting,Mid-Senior level,Lucknow,Uttar Pradesh

In [57]:
job_df.job.value_counts()

Data Analyst              725
Java Developer            669
Software Testing          409
Other Developer           395
Business Analyst          231
                         ...
Content Writer              3
Financial Controller        3
Salesperson                 3
Collections Specialist      2
 Storage Administrator      2
Name: job, Length: 84, dtype: int64

#### removing the '+' symbol from the `no_of_employ` column

In [58]:
job_df['no_of_employ']=job_df['no_of_employ'].str.replace('+','',regex=True)

In [59]:
job_df.head()

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id,company_sector,Job_level,City,State
0,3471657636,Data Analyst,"Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,200,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2697,IT Services and IT Consulting,Associate,Delhi,Delhi
1,3471669068,Data Analyst,"New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001-5000,184,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2724,IT Services and IT Consulting,Associate,New Delhi,Delhi
2,3474349934,Data Analyst,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time,1001-5000,200,540.0,Shahid Ahmad,9.821152e+05,About the job Profile: ML EngineersExperience:...,3668,IT Services and IT Consulting,Mid-Senior level,Greater Bengaluru Area,Karnataka
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1-10,200,420.0,Vartika Singh,2.094000e+03,About the job Designation: Data AnalystLocatio...,3083,Not Avilable,Not Avilable,Gurugram,Haryana
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1-10,8,26.0,Manisha (Gisele Smith),9.821152e+05,About the job The ideal candidate will use the...,3359,Not Avilable,Not Avilable,Mohali district,North West

#### Assigning lower side to  `no_of_employ` and convert it into int data type

In [60]:
job_df['no_of_employ']=job_df['no_of_employ'].str.split('-').str[0]
job_df['no_of_employ']=job_df['no_of_employ'].astype(int)

In [61]:
job_df.rename(columns={"job": "designation",'company_name':'name','company_sector':'industry','no_of_employ':'employees_count','full_time_remote':'involvement','Job_level':'level','no_of_application':'total_applicants'}, inplace=True)

**Removing extra space**

In [62]:
job_df.involvement=job_df.involvement.replace({' ':'','11-50':np.nan,'1-10':np.nan},regex=True)

In [63]:
job_df.involvement.unique()

array(['Full-time', 'Contract', 'Internship', 'Part-time', 'Temporary',
       nan, 'Associate', 'Volunteer'], dtype=object)

In [64]:
job_df.isnull().sum()

job_ID                  0
designation             0
location                0
company_id              0
name                    0
work_type               0
involvement             3
employees_count         0
total_applicants        0
posted_day_ago          0
Hiring_person           0
linkedin_followers      0
job_details             0
details_id              0
industry                0
level                   0
City                  580
State                 538
dtype: int64

**Null percentage of the DataFrame Columns**

In [65]:
round(job_df.isnull().sum()/job_df.shape[0]*100,2)[round(job_df.isnull().sum()/job_df.shape[0]*100,2)>0]

involvement     0.05
City           10.37
State           9.62
dtype: float64

**Cheaking most for frequant value for each state.**

In the sate column there is 3 wrong States are there.`Apac`,`Auvergne-Rhône-Alpes`,`রংপুর বিভাগ`
- In the sate colomn `Auvergne-Rhône-Alpes` is there insted of Gujarat

In [66]:
a=job_df.groupby('State')[['City']].agg(pd.Series.mode).reset_index()
b = dict(zip(a['State'], a['City']))

In [67]:
job_df[['State','City']][job_df.State=='Auvergne-Rhône-Alpes'].head()

                     State   City
131   Auvergne-Rhône-Alpes  Surat
1219  Auvergne-Rhône-Alpes  Surat
1618  Auvergne-Rhône-Alpes  Surat
1688  Auvergne-Rhône-Alpes  Surat
2213  Auvergne-Rhône-Alpes  Surat

**Replacing the `Auvergne-Rhône-Alpes` with `Gujarat`**

In [68]:
job_df.State=job_df.State.str.replace('Auvergne-Rhône-Alpes','Gujarat')

- checking how mamy rows are there in which`['Apac', 'রংপুর বিভাগ']` are in state column
    - there are very less rows are there with the above condition.
    - So removed them from the dataframe

In [69]:
job_df[['State','City']][job_df['State'].isin(['Apac', 'রংপুর বিভাগ'])]

            State      City
906          Apac      APAC
1893         Apac      APAC
3826  রংপুর বিভাগ  Rajarhat
4766         Apac      APAC

In [70]:
job_df=job_df[~job_df['State'].isin(['Apac', 'রংপুর বিভাগ'])]

- Removing the NAN value from involvement column
- Replacing NAN Values from `State` and `City` columns with Mode

In [71]:
job_df.dropna(subset='involvement',inplace=True)

In [72]:
job_df.State.fillna(job_df.State.mode()[0],inplace=True)

- Creating the funtion for replacing the null values for the city column

In [73]:
def fillnull_city(a):
    if type(a)==str:
        return str(b[a])
    else:
        return 'NAN'

In [74]:
job_df['City'][job_df.City.isnull()]=job_df['State'][job_df.City.isnull()].apply(fillnull_city)

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\1035151801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df['City'][job_df.City.isnull()]=job_df['State'][job_df.City.isnull()].apply(fillnull_city)

In [75]:
job_df.City.isnull().sum()

0

In [76]:
job_df.head()

,job_ID,designation,location,company_id,name,work_type,involvement,employees_count,total_applicants,posted_day_ago,Hiring_person,linkedin_followers,job_details,details_id,industry,level,City,State
0,3471657636,Data Analyst,"Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001,200,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2697,IT Services and IT Consulting,Associate,Delhi,Delhi
1,3471669068,Data Analyst,"New Delhi, Delhi, India",524.0,Crossover,Remote,Full-time,1001,184,480.0,Not Available,5.395547e+06,About the job Crossover is the world's #1 sour...,2724,IT Services and IT Consulting,Associate,New Delhi,Delhi
2,3474349934,Data Analyst,Greater Bengaluru Area,2242.0,Uplers,Remote,Full-time,1001,200,540.0,Shahid Ahmad,9.821152e+05,About the job Profile: ML EngineersExperience:...,3668,IT Services and IT Consulting,Mid-Senior level,Greater Bengaluru Area,Karnataka
3,3472816027,Data Analyst,"Gurugram, Haryana, India",1553.0,PVAR SERVICES,On-site,Full-time,1,200,420.0,Vartika Singh,2.094000e+03,About the job Designation: Data AnalystLocatio...,3083,Not Avilable,Not Avilable,Gurugram,Haryana
4,3473311511,Data Analyst,"Mohali district, Punjab, India",2147.0,Timeline Freight Brokers,On-site,Full-time,1,8,26.0,Manisha (Gisele Smith),9.821152e+05,About the job The ideal candidate will use the...,3359,Not Avilable,Not Avilable,Mohali district,North West

In [77]:
for i in job_df:
    print(i,job_df[i].unique())
    print('--------------------------------------')

job_ID [3471657636 3471669068 3474349934 ... 3461005032 3474305684 3459352801]
--------------------------------------
designation ['Data Analyst' 'Shopify Developer' 'Database Developer' 'Other'
 'Other Developer' 'Salesforce Developer' 'Golang Developer'
 'Lead developer' '.Net Developers' 'PHP Developer' 'SQL Developer'
 'Java Developer' 'Other Engineering' 'Software Engineer'
 'Python Developer' 'PowerApps Developer' 'Cloud Engineer'
 'Snowflake Developer' 'Angular Developer' 'Oracle Developer'
 'DevOps Engineer' 'Software Testing' 'Internships' 'Power BI Developer'
 'Blockchain Developer' 'C Developer' ' Ruby on Rails Developer'
 'Machine Learning Engineer' 'Game Developer' 'Mainframe Developer'
 'Analyst' 'Unity Developer' 'Business Analyst'
 'Mobile Application Developer' 'Full Stack Developer' 'Web Developer'
 'Linux Engineer' 'Drupal Developer' 'Technology Architecture'
 'Wordpress Developer' 'BackEnd Developer' 'Node Js Developer'
 'Consultant' 'Associate' 'Researcher' 'Accountant' 'Finance Manager'
 'Search Engine Optimization' 'Project Manager' 'Sales Executive'
 'Business Development Manager' 'Digital Marketing' 'Scrum Master'
 'Team Lead/ Project Lead' 'SAP Developer' 'Quality Analyst'
 'Vue.js Developer' 'ReactJS Developer' 'Robotics' 'iOS Developer'
 'Collections Specialist' 'AI Engineer' 'Managerial and Leadership Roles'
 'Quantitative Trader' 'Marketing' 'Copywriter' 'Co-Founder' 'Editor'
 'Customer Service' 'Frontend Developer' 'Front-End Developer'
 'Data Scientist' 'Technical Trainer/Writer/Owner' 'Professor'
 'Education and Counseling' 'Head of Product' 'Product Specialist'
 'Content Writer' 'Data Management' 'Financial Controller'
 'Bigdata Developer' 'Relationship Manager' 'Salesperson'
 ' Storage Administrator']
--------------------------------------
location ['Delhi, Delhi, India' 'New Delhi, Delhi, India' 'Greater Bengaluru Area'
 'Gurugram, Haryana, India' 'Mohali district, Punjab, India'
 'Bengaluru, Karnataka, India' 'Delhi, India'
 'Noida, Uttar Pradesh, India' 'Hyderabad, Telangana, India' 'India'
 'Chennai, Tamil Nadu, India' 'Kolkata, West Bengal, India'
 'Madurai, Tamil Nadu, India' 'Pune, Maharashtra, India'
 'Mumbai, Maharashtra, India' 'Kochi, Kerala, India'
 'Ahmedabad, Gujarat, India' 'Vadodara, Gujarat, India'
 'Hosur, Tamil Nadu, India' 'Coimbatore, Tamil Nadu, India'
 'Chengannur, Kerala, India' 'Mumbai Metropolitan Region'
 'Bhopal, Madhya Pradesh, India' 'Maharashtra, India'
 'Surat, Gujarat, India' 'Jaipur, Rajasthan, India'
 'Chandigarh, Chandigarh, India' 'Trivandrum, Kerala, India'
 'Delhi Cantonment, Delhi, India' 'Thane, Maharashtra, India'
 'Gujarat, India' 'Navi Mumbai, Maharashtra, India' 'Greater Kolkata Area'
 'Bangalore Urban, Karnataka, India' 'Gurgaon, Haryana, India'
 'Nagpur, Maharashtra, India' 'Kalyan, Maharashtra, India'
 'Dehradun, Uttarakhand, India' 'Kozhikode, Kerala, India'
 'Ludhiana, Punjab, India' 'Tenkasi, Tamil Nadu, India'
 'Amritsar, Punjab, India' 'Patna, Bihar, India' 'Tamil Nadu, India'
 'Thiruvananthapuram, Kerala, India'
 'Sahibzada Ajit Singh Nagar, Punjab, India' 'Telangana, India'
 'Indore, Madhya Pradesh, India' 'Pune/Pimpri-Chinchwad Area'
 'Kerala, India' 'Lucknow, Uttar Pradesh, India' 'Greater Hyderabad Area'
 'Guindy, Tamil Nadu, India' 'Vapi, Gujarat, India' 'Greater Delhi Area'
 'Bangalore Urban district, India' 'Rajkot, Gujarat, India'
 'Faridabad, Haryana, India' 'Visakhapatnam, Andhra Pradesh, India'
 'Kanpur, Uttar Pradesh, India' 'Bandra, Maharashtra, India'
 'Thiruvarur, Tamil Nadu, India' 'Puducherry, Puducherry, India'
 'Mangaluru, Karnataka, India' 'Chandigarh, India'
 'Aurangabad, Maharashtra, India' 'Gurgaon Rural, Haryana, India'
 'Pimpri Chinchwad, Maharashtra, India'
 'Kolkata metropolitan area, West Bengal, India' 'Goa, India'
 'Gandhinagar, Gujarat, India' 'Greater Coimbatore Area'
 'Ghaziabad, Uttar Pradesh, India' 'Hoshiarpur, Punjab, India'
 'Manesar, Haryana, India' 'Bhubaneshwar, Odisha, India'
 'South Delhi, Delhi, India' 'Saket, Delhi, India'
 'Karunagappally, Kerala, India' 'Rohini, Delhi, India'
 'Dumka, Jharkhand, India' 'Srinagar, Jammu & Kashmir, India'
 'Jabalpur, Madhya Pradesh, India' 'Haryana, India' 'Greater Chennai Area'
 'Ernakulam, Kerala, India' 'Rupnagar, Punjab, India'
 'Siwani, Haryana, India' 'Vishakhapatnam, Andhra Pradesh, India'
 'Ulhasnagar, Maharashtra, India' 'Bengaluru East, Karnataka, India'
 'Punjab, India' 'Kangra, Himachal Pradesh, India'
 'Kanpur Nagar, Uttar Pradesh, India' 'Alipur, Delhi, India'
 'Nagercoil, Tamil Nadu, India' 'Jammu, Jammu & Kashmir, India'
 'Jalandhar, Punjab, India' 'Greater Ahmedabad Area'
 'Pollachi, Tamil Nadu, India' 'Mangalagiri, Andhra Pradesh, India'
 'Varanasi, Uttar Pradesh, India' 'Jamshedpur, Jharkhand, India'
 'Bhubaneswar, Odisha, India' 'Agra, Uttar Pradesh, India'
 'Ranchi, Jharkhand, India' 'Vijayawada, Andhra Pradesh, India'
 'Udaipur, Rajasthan, India' 'Greater Nagpur Area'
 'Jodhpur, Rajasthan, India' 'Secunderābād, Telangana, India'
 'Golaghat district, Assam, India' 'Velachery, Tamil Nadu, India'
 'Kolhapur, Maharashtra, India' 'Silao, Bihar, India'
 'Tiruchengodu, Tamil Nadu, India' 'Uttar Pradesh, India'
 'Dwarka, Delhi, India' 'Jalgaon, Maharashtra, India'
 'Preet Vihar, Delhi, India' 'North West Delhi, Delhi, India'
 'West Delhi, Delhi, India' 'Vasant Vihar, Delhi, India'
 'Berhampore, West Bengal, India' 'Raipur, Chhattisgarh, India'
 'Defence Colony, Delhi, India' 'Patel Nagar, Delhi, India'
 'Pochampalli, Tamil Nadu, India' 'Dadri, Uttar Pradesh, India'
 'Ahmednagar, Maharashtra, India' 'Midnapore, West Bengal, India'
 'Tiruchirappalli, Tamil Nadu, India'
 'Thiruvananthapuram Taluk, Kerala, India' 'Karnataka, India'
 'Gautam Buddha Nagar, Uttar Pradesh, India'
 'Sriperumbudur, Tamil Nadu, India']
--------------------------------------
company_id [ 524. 2242. 1553. ...  642.  130.  106.]
--------------------------------------
name ['Crossover' 'Uplers' 'PVAR SERVICES' ... 'EPMware' 'Altvu' 'Akkodis']
--------------------------------------
work_type ['Remote' 'On-site' 'Hybrid']
--------------------------------------
involvement ['Full-time' 'Contract' 'Internship' 'Part-time' 'Temporary' 'Associate'
 'Volunteer']
--------------------------------------
employees_count [ 1001     1 10001    51   201    11   501  5001]
--------------------------------------
total_applicants ['200' '184' '8' '2' '7' '22' '111' '36' '44' '29' '4' '19' '14' '13' '32'
 '20' 'hours' '5' '21' '27' '85' '97' '42' '1' '130' '127' 'minutes' '11'
 '16' '60' '3' '52' '50' '10' '61' '95' '39' '18' '6' '40' '138' '9' '26'
 '17' '78' '47' '104' '15' '110' '25' '38' '122' '34' '149' '83' '57' '66'
 '56' '80' '135' '158' '139' '54' '28' '23' '12' '175' '35' '87' '109'
 '71' '70' '24' '96' '48' '31' 'days' '68' '147' 'day' '65' '59' '102'
 '53' '125' '143' '142' '150' '195' '160' '99' '112' '67' '74' '134' '43'
 '98' '146' '55' '115' '108' '176' '113' '30' '76' '72' '129' '100' '172'
 'hour' '51' '79' '69' '46' '132' '114' '136' '117' '106' '173' '73' '174'
 '145' '84' '190' '77' '81' '33' '166' '163' '94' '128' '161' '194' '152'
 '159' '137' '88' '162' '177' '105' '41' '49' '133' '187' '82' '123' '193'
 '91' '148' '45' '141' '58' '62' '198' '124' '93' '168' '64' '140' '86'
 '126' '155' '169' '192' 'minute' '116' '185' '156' '165' '170' '120'
 '180' '191' '101' '196' '118' '181' '189' '90' '153' '171' '75' '37' '89'
 '197' '107' '63' '131' '167' '92' '121' '186' '183' '119']
--------------------------------------
posted_day_ago [4.800e+02 5.400e+02 4.200e+02 2.600e+01 6.000e+02 2.500e+01 3.000e+02
 1.200e+03 3.600e+02 6.000e+01 1.200e+02 7.200e+02 1.320e+03 2.400e+02
 1.800e+02 1.440e+03 1.380e+03 3.700e+01 6.600e+02 8.400e+02 1.080e+03
 1.140e+03 6.000e+00 1.260e+03 7.800e+02 9.000e+02 1.000e+01 7.200e+03
 2.880e+03 1.100e+01 8.640e+03 5.000e+01 5.760e+03 1.300e+01 9.600e+02
 1.020e+03 4.320e+03 1.700e+01 1.200e+01 4.700e+01 7.000e+00 5.600e+01
 2.700e+01 5.300e+01 4.500e+01 4.000e+00 5.700e+01 1.008e+04 8.000e+00
 3.200e+01 5.200e+01 3.900e+01 5.000e+00 9.000e+00 1.400e+01 1.600e+01
 1.500e+01 1.800e+01 1.900e+01 2.000e+01 2.300e+01 2.200e+01 2.100e+01
 2.400e+01 2.800e+01 2.900e+01 3.000e+01 3.500e+01 3.400e+01 3.800e+01
 3.600e+01 4.100e+01 4.300e+01 4.600e+01 4.900e+01 5.100e+01 5.400e+01
 5.500e+01 1.000e+00 3.000e+00 4.200e+01 4.400e+01 5.900e+01 3.300e+01
 4.000e+01 5.800e+01 3.100e+01 4.800e+01]
--------------------------------------
Hiring_person ['Not Available' 'Shahid Ahmad' 'Vartika Singh' ... 'Abhi Nerurkar'
 'SUNIL N' 'Poornima Viswanathan']
--------------------------------------
linkedin_followers [5.39554700e+06 9.82115191e+05 2.09400000e+03 ... 1.32800000e+04
 1.19236340e+07 1.42109000e+06]
--------------------------------------
job_details ["About the job Crossover is the world's #1 source of full-time remote jobs. Our clients offer top-tier pay for top-tier talent. We're recruiting this role for our client, Trilogy. Have you got what it takes? Are you looking for an entry-level role in the software industry that will give you the skills and exposure to move into any speciality later? We’re looking for curious individuals who love searching for meaningful answers. In this role, you’ll be given a business problem and will scour the internet for possible solutions. The problems will come from every area of our business: operations, finance, hiring, engineering, and more - giving you broad exposure. Not only will you gain knowledge, you’ll receive regular coaching and training from a team of global tech experts and operations professionals. Jumpstart your career with us today! What You Will Be Doing Research a variety of high-priority topics that are critical to the businessEvaluate results against provided evaluation criteria What You Won’t Be Doing Researching the same topics repeatedlyWorking on loosely-scoped research with desired outputs not clearly definedGetting lost chasing tangentially-related solutions; our systems and processes will help you focus your research and optimize your time Data Analyst Key Responsibilities Provide high-quality research data to support company-wide business decisions Basic Requirements Excellent written and verbal communication skillsBasic financial analysis skillsAbility to work in the US timezone About Trilogy Hundreds of software businesses run on the Trilogy Business Platform. For three decades, Trilogy has been known for 3 things: Relentlessly seeking top talent, Innovating new technology, and incubating new businesses. Our technological innovation is spearheaded by a passion for simple customer-facing designs. Our incubation of new businesses ranges from entirely new moon-shot ideas to rearchitecting existing projects for today's modern cloud-based stack. Trilogy is a place where you can be surrounded with great people, be proud of doing great work, and grow your career by leaps and bounds. There is so much to cover for this exciting role, and space here is limited. Hit the Apply button if you found this interesting and want to learn more. We look forward to meeting you! Working with Crossover This is a full-time (40 hours per week), long-term position. The position is immediately available and requires entering into an independent contractor agreement with Crossover. The compensation level for this role is $30 USD/hour, which equates to $60,000 USD/year assuming 40 hours per week and 50 weeks per year. The payment period is weekly. Consult www.crossover.com/help-and-faqs for more details on this topic. What to expect next: You will receive an email with a link to start your self-paced, online job application.Our hiring platform will guide you through a series of online “screening” assessments to check for basic job fit, job-related skills, and finally a few real-world job-specific assignments. Important! If you do not receive an email from us: First, emails may take up to 15 minutes to send, refresh and check again.Second, check your spam and junk folders for an email from Crossover.com, mark as “Not Spam” since you will receive other emails as well.Third, we will send to whatever email account you indicated on the Apply form - by default, that is the email address you use as your LinkedIn username and it might be different than the one you have already checked.If all else fails, just reset your password by visiting https://www.crossover.com/auth/password-recovery if you already applied using LinkedIn EasyApply. Crossover Job Code: LJ-4718-IN-Delhi-DataAnalyst.004"
 "About the job Crossover is the world's #1 source of full-time remote jobs. Our clients offer top-tier pay for top-tier talent. We're recruiting this role for our client, Trilogy. Have you got what it takes? Are you looking for an entry-level role in the software industry that will give you the skills and exposure to move into any speciality later? We’re looking for curious individuals who love searching for meaningful answers. In this role, you’ll be given a business problem and will scour the internet for possible solutions. The problems will come from every area of our business: operations, finance, hiring, engineering, and more - giving you broad exposure. Not only will you gain knowledge, you’ll receive regular coaching and training from a team of global tech experts and operations professionals. Jumpstart your career with us today! What You Will Be Doing Research a variety of high-priority topics that are critical to the businessEvaluate results against provided evaluation criteria What You Won’t Be Doing Researching the same topics repeatedlyWorking on loosely-scoped research with desired outputs not clearly definedGetting lost chasing tangentially-related solutions; our systems and processes will help you focus your research and optimize your time Data Analyst Key Responsibilities Provide high-quality research data to support company-wide business decisions Basic Requirements Excellent written and verbal communication skillsBasic financial analysis skillsAbility to work in the US timezone About Trilogy Hundreds of software businesses run on the Trilogy Business Platform. For three decades, Trilogy has been known for 3 things: Relentlessly seeking top talent, Innovating new technology, and incubating new businesses. Our technological innovation is spearheaded by a passion for simple customer-facing designs. Our incubation of new businesses ranges from entirely new moon-shot ideas to rearchitecting existing projects for today's modern cloud-based stack. Trilogy is a place where you can be surrounded with great people, be proud of doing great work, and grow your career by leaps and bounds. There is so much to cover for this exciting role, and space here is limited. Hit the Apply button if you found this interesting and want to learn more. We look forward to meeting you! Working with Crossover This is a full-time (40 hours per week), long-term position. The position is immediately available and requires entering into an independent contractor agreement with Crossover. The compensation level for this role is $30 USD/hour, which equates to $60,000 USD/year assuming 40 hours per week and 50 weeks per year. The payment period is weekly. Consult www.crossover.com/help-and-faqs for more details on this topic. What to expect next: You will receive an email with a link to start your self-paced, online job application.Our hiring platform will guide you through a series of online “screening” assessments to check for basic job fit, job-related skills, and finally a few real-world job-specific assignments. Important! If you do not receive an email from us: First, emails may take up to 15 minutes to send, refresh and check again.Second, check your spam and junk folders for an email from Crossover.com, mark as “Not Spam” since you will receive other emails as well.Third, we will send to whatever email account you indicated on the Apply form - by default, that is the email address you use as your LinkedIn username and it might be different than the one you have already checked.If all else fails, just reset your password by visiting https://www.crossover.com/auth/password-recovery if you already applied using LinkedIn EasyApply. Crossover Job Code: LJ-4718-IN-NewDelhi-DataAnalyst.017"

In [78]:
job_df.total_applicants[job_df['total_applicants'].isin(['minutes','hours','hour','minute','day','days'])]=0

C:\Users\Shashank\AppData\Local\Temp\ipykernel_20600\512409579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  job_df.total_applicants[job_df['total_applicants'].isin(['minutes','hours','hour','minute','day','days'])]=0

In [79]:
job_df.drop(['location','posted_day_ago','Hiring_person'],axis=1,inplace=True)

In [80]:
job_df.total_applicants.unique()

array(['200', '184', '8', '2', '7', '22', '111', '36', '44', '29', '4',
       '19', '14', '13', '32', '20', 0, '5', '21', '27', '85', '97', '42',
       '1', '130', '127', '11', '16', '60', '3', '52', '50', '10', '61',
       '95', '39', '18', '6', '40', '138', '9', '26', '17', '78', '47',
       '104', '15', '110', '25', '38', '122', '34', '149', '83', '57',
       '66', '56', '80', '135', '158', '139', '54', '28', '23', '12',
       '175', '35', '87', '109', '71', '70', '24', '96', '48', '31', '68',
       '147', '65', '59', '102', '53', '125', '143', '142', '150', '195',
       '160', '99', '112', '67', '74', '134', '43', '98', '146', '55',
       '115', '108', '176', '113', '30', '76', '72', '129', '100', '172',
       '51', '79', '69', '46', '132', '114', '136', '117', '106', '173',
       '73', '174', '145', '84', '190', '77', '81', '33', '166', '163',
       '94', '128', '161', '194', '152', '159', '137', '88', '162', '177',
       '105', '41', '49', '133', '187', '82', '123', '193', '91', '148',
       '45', '141', '58', '62', '198', '124', '93', '168', '64', '140',
       '86', '126', '155', '169', '192', '116', '185', '156', '165',
       '170', '120', '180', '191', '101', '196', '118', '181', '189',
       '90', '153', '171', '75', '37', '89', '197', '107', '63', '131',
       '167', '92', '121', '186', '183', '119'], dtype=object)

In [81]:
job_df.total_applicants = pd.to_numeric(job_df.total_applicants, errors='coerce')

In [82]:
job_df.to_csv('c:\\Project\\Linkdin_Job_Analytics\\DataSet\\job_cleanData.csv',index=False)