In [ ]:
import pandas as pd
import numpy as np

In [1]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Float, Boolean
from sqlalchemy.orm import declarative_base

# Define the base class
Base = declarative_base()

# Read the data frame from a CSV file
# job_df = pd.read_csv('job_data.csv')

# Define the structure and data types for the job table
class Job(Base):
    __tablename__ = 'job'
    job_ID = Column(Integer, primary_key=True)
    company_id = Column(Integer)
    State = Column(String(255))
    City = Column(String(255))
    designation = Column(String(255))
    details_id = Column(Integer)

# Define the structure and data types for the company table
class Company(Base):
    __tablename__ = 'company'
    company_id = Column(Integer, primary_key=True)
    name = Column(String(255))
    industry = Column(String(255))
    employees_count = Column(Integer)
    linkedin_followers = Column(Integer)

# Define the structure and data types for the details table
class Details(Base):
    __tablename__ = 'details'
    details_id = Column(Integer, primary_key=True)
    involvement = Column(String(255))
    level = Column(String(255))
    total_applicants = Column(Integer)

# Create a database connection using SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:Shashank123@127.0.0.1/Shashank')

# Create the tables in the database
Base.metadata.create_all(engine)

# Store df_job table into MySQL
job_df[['job_ID', 'company_id', 'State', 'City', 'designation', 'details_id']].to_sql(name='job', con=engine, if_exists='replace', index=False)

# Store df_company table into MySQL
job_df[['company_id', 'name', 'industry', 'employees_count', 'linkedin_followers']].to_sql(name='company', con=engine, if_exists='replace', index=False)

# Store df_details table into MySQL
job_df[['details_id', 'involvement', 'level', 'total_applicants']].to_sql(name='details', con=engine, if_exists='replace', index=False)

# Store complete dataset into MySQL
job_df.to_sql(name='linkdin_dataset', con=engine, if_exists='replace', index=False)

NameError: name 'job_df' is not defined

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="Shashank123",
  database="Shashank"
)

engine = create_engine('mysql+mysqlconnector://{user}:{password}@{host}/{database}'.format(
    user="root",
    password="Shashank123",
    host="127.0.0.1",
    database="Shashank"
))

conn = engine.connect()

In [ ]:
pd.read_sql_query("SELECT * FROM job LIMIT 3", mydb)