In [1]:
import pandas as pd
import numpy as np
import time
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import re
import numpy as np
from lxml import etree
import json
import random

In [2]:
User_name=input('Enter Your Linkdin ID')
User_password=input('Enter Your Linkdin Password')

url ='https://www.linkedin.com/jobs/collections/'

s=Service('C:/Users/Morteza/Documents/Dev/chromedriver.exe')
driver = webdriver.Chrome(service=s)
driver.maximize_window()
driver.implicitly_wait(np.random.randint(10,20))
driver.get(url)

login_button = driver.find_element(By.CLASS_NAME, "main__sign-in-link")
login_button.click()

username = driver.find_element("id","username")
username.send_keys(User_name)
password = driver.find_element("id","password")
password.send_keys(User_password)

button = driver.find_elements(By.XPATH, "//button[contains(text(),'Sign in')]")
button[0].click()
time.sleep(np.random.randint(2,4))

Enter Your Linkdin IDbigorax171@fsouda.com
Enter Your Linkdin PasswordShashank@123

In [3]:
job = []
location = []
company_name = []
work_type = []
full_time_remote = []
no_of_employ =[]
no_of_application = []
posted_day_ago=[]
Hiring_person=[]
company_id=[]
linkedin_followers=[]
alumni=[]
hiring_person_link=[]
job_details=[]
job_ID=[]

s_job_title_1=''#input('enter 1st word of job title without space')
s_job_title_2=''#input('enter 2nd word of job title without space')
keyword=f'&keywords={s_job_title_1}%20{s_job_title_2}&location=India&refresh=true'

f_time=['86400','604800']
f_list=['F','P','C','T','V','I']

f_job_posted='&f_TPR=r'
f_exp_level='&f_E=' #upto 6
f_job_type='&f_JT=' #upto 6
f_onside_remorte='&f_WT=' #upto 3
easy_apply='&f_AL=true'

url=f'https://www.linkedin.com/jobs/search/?currentJobId=3398412201{keyword}{easy_apply}'

In [4]:
for i in f_time:
    url1=url+f_job_posted+i
            
    page_source=0

    for i in range(40):
        URL2=f'{url1}&start={str(page_source)}'
        driver.get(URL2)
        time.sleep(4)
        soup = BeautifulSoup(driver.page_source,"html.parser")

        lis = soup.find_all('li',{'class':['ember-view jobs-search-results__list-item occludable-update p0 relative scaffold-layout__list-item',
                                   'ember-view jobs-search-results__job-card-search--generic-occludable-area jobs-search-results__list-item occludable-update p0 relative scaffold-layout__list-item']})
        job_id=[i['data-occludable-job-id'] for i in lis]
        print(len(job_id))
        if len(job_id)==0:
            break

        for j in job_id:

            job_ID.append(j)

            url5=f'https://www.linkedin.com/jobs/view/{j}/?alternateChannel=search&refId=OVk%2FyrQJTx6bEvCctxU%2FCQ%3D%3D&trackingId=HaXGqmC%2BzS2Z0InwTOyIbw%3D%3D&trk=d_flagship3_search_srp_jobs'
            driver.get(url5)    
            time.sleep(3)

            soup2=BeautifulSoup(driver.page_source,'html.parser')


            try:
                job.append(soup2.find('h1').text.strip())

            except Exception as e:
                #print(e)
                job.append(np.nan)    
                pass


            try:
                location.append(soup2.find('span',{'class':'jobs-unified-top-card__bullet'}).text.strip())

            except Exception as e: 
                #print(e,'location')
                location.append(np.nan)
                pass

            try:
                com_n=soup2.find('span',{'class':'jobs-unified-top-card__company-name'}).text.strip()
                company_name.append(com_n)

            except Exception as e: 
                #print(e,'company_name')
                company_name.append(np.nan)
                pass

            try:
                work_type.append(soup2.find('span',{'class':'jobs-unified-top-card__workplace-type'}).text.strip())

            except Exception as e: 
                #print(e,'work_type')
                work_type.append(np.nan)
                pass

            try:
                com=soup2.find_all('code')
                json_str=com[-3].text
                company_id.append(json_str.split('fs_normalized_company:')[1].split(',')[0].replace('"',''))

            except Exception as e: 
                #print(e,'company_id')
                company_id.append(np.nan)
                pass

            try:
                b=[i.text.split() for i in soup2.find_all('span',{'class':'jobs-unified-top-card__subtitle-secondary-grouping t-black--light'})][0]
                no_of_application.append(b[-2])

            except Exception as e:
                no_of_application.append(np.nan)
                #print(e,'no_of_application')

            try:
                posted_day_ago.append(f'{b[0]} {b[1]}')

            except Exception as e:
                posted_day_ago.append(np.nan)
                #print(e,' posted_day_ago')

            try:
                d=soup2.find_all('li',{'class':'jobs-unified-top-card__job-insight'})

                l1=[i.text.replace('\n','') for i in d]
                full_time_remote.append(l1[0])

            except Exception as e:
                full_time_remote.append(np.nan)
                #print(e,'full_time_remote')

            try:
                l2=[i for i in l1 if 'employees' in i]

                no_of_employ.append(l2[0])

            except Exception as e:
                no_of_employ.append(np.nan)
                #print(e,'no_of_employ')

            try:
                l3=[i for i in l1 if 'alumni' in i]
                alumni.append(l3[0])


            except Exception as e:
                alumni.append(np.nan)
                #print(e,'alumni')

            try:
                tts=soup2.find('div',{'class':'mh4 pt4 pb3'})
                hiring_person_link.append(tts.find('a',href=True)['href'])

            except Exception as e:
                hiring_person_link.append(np.nan)
                #print(e,'hiring_person_link')

            try:
                tts=soup2.find('div',{'class':'mh4 pt4 pb3'})
                Hiring_person.append(tts.find('span').text.replace('\n',''))

            except Exception as e:
                Hiring_person.append(np.nan)
                #print(e,'Hiring_person')

            try:
                d_find=soup2.find('div',{'class':'jobs-box__html-content jobs-description-content__text t-14 t-normal jobs-description-content__text--stretch'})
                re_space=d_find.text.strip().replace('\n',' ')
                job_details.append(re.sub(' +', ' ', re_space))

            except Exception as e:
                job_details.append(np.nan)
                #print(e,'job_details')

            try:
                tts=soup2.find_all('a',href=True)
                tts1=list(dict.fromkeys(['https://www.linkedin.com'+i['href'] for i in tts if 'company' in i['href'] and  'life' in i['href']]))
                #print(tts1)
                driver.get(tts1[-1])
                time.sleep(2)
                soup3=BeautifulSoup(driver.page_source,'html.parser')
                time.sleep(2)
                f=[i.text.strip() for i in soup3.find_all('div',{'class':'org-top-card-summary-info-list__info-item'})]
                linkedin_followers.append(f[-1])

            except Exception as e:
                linkedin_followers.append(np.nan)
                #print(e,'linkedin_followers')
                time.sleep(2)

        page_source+=25

25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25

In [5]:
df=pd.DataFrame({'job_ID':job_ID,'job':job,'location':location,'company_id':company_id,
'company_name':company_name,'work_type':work_type,'full_time_remote':full_time_remote,
'no_of_employ':no_of_employ,'no_of_application':no_of_application,'posted_day_ago':posted_day_ago,
'alumni':alumni,'Hiring_person':Hiring_person,'linkedin_followers':linkedin_followers,
'hiring_person_link':hiring_person_link,'job_details':job_details})

df.to_csv('c:\\Project\\Linkdin_Job_Analytics\\DataSet//DataSet/linkdin_Job_data.csv', index=False)
df

,job_ID,job,location,company_id,company_name,work_type,full_time_remote,no_of_employ,no_of_application,posted_day_ago,alumni,Hiring_person,linkedin_followers,hiring_person_link,job_details
0,3476392639,Oracle Retail Expert,"Noida, Uttar Pradesh, India",NaN,AI ALCHEMY,On-site,Full-time,1-10 employees,2,15 hours,NaN,Dolly Sharan,NaN,https://www.linkedin.com/in/dolly-sharan-68937035,About the job Responsibilities :Work collabora...
1,3476289359,Automated Testing Team Lead,"Kanpur, Uttar Pradesh, India",NaN,EPAM Anywhere,Remote,Full-time 路 Mid-Senior level,"1,001-5,000 employees 路 IT Services and IT Con...",hours,8 hours,3 company alumni,NaN,NaN,NaN,About the job We would be happy to consider yo...
2,3476468314,Sr Graphic Designer 2-5 years,"Hyderabad, Telangana, India",NaN,Brandingnuts,On-site,Full-time,11-50 employees,hours,7 hours,NaN,Yeshwanth Goud,"1,438 followers",https://www.linkedin.com/in/yeshwanthgoud,About the job The ideal candidate will have st...
3,3476525536,SharePoint Architect,"Hyderabad, Telangana, India",NaN,IQ-EQ,NaN,Full-time 路 Mid-Senior level,"1,001-5,000 employees 路 Financial Services",hours,15 hours,NaN,NaN,NaN,NaN,About the job Company Description IQ-EQ is a l...
4,3477602415,Human Resources Intern,India,NaN,ILP Overseas | International Learning Planners,Remote,Internship,"1,001-5,000 employees",minute,1 minute,NaN,Tanisha Agarwal,"65,810 followers",https://www.linkedin.com/in/tanisha-agarwal-45...,About the job WE'RE HIRING!! I am TANISHA A...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,3476295358,Senior Automation Tester,"Kochi, Kerala, India",NaN,EPAM Anywhere,Remote,Full-time 路 Mid-Senior level,"1,001-5,000 employees 路 IT Services and IT Con...",hours,14 hours,3 company alumni,Anastasiya Volkova,"450,850 followers",https://www.linkedin.com/in/anastasiya-volkova...,About the job We would be happy to consider yo...
1996,3472475070,Pre-sales Executive,"Dadri, Uttar Pradesh, India",NaN,Macgence,On-site,Full-time,11-50 employees 路 Translation and Localization,1,3 days,NaN,NaN,599 followers,NaN,About the job Roles And Responsibilities Speci...
1997,3470566151,Social media executive,"Delhi, India",NaN,Erekrut... Recruitment Made Easy,On-site,Full-time,11-50 employees,9,2 hours,1 company alumni,Harini Chari,"467,716 followers",https://www.linkedin.com/in/harini-chari-757a5...,About the job Position : Social Media Executiv...
1998,3471884081,Sales Consultant,"Delhi, India",NaN,Niyama Immigration LLP,On-site,Full-time,11-50 employees,8,2 days,NaN,Dipanjan Sanyal,"1,428 followers",https://www.linkedin.com/in/dipanjan-sanyal-24...,About the job 1) Must have an experience in sa...
1999,3474493088,Social Media Marketing Manager,"New Delhi, Delhi, India",NaN,SkyTrust,On-site,Full-time,11-50 employees,28,1 day,NaN,Sophia Susan,"2,779 followers",https://www.linkedin.com/in/sophia-susan-79641...,About the job Roles and Responsibilities of So...

In [6]:
len(df.job_ID.unique())

1925